/* FONTS ------------------------------------*/

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* DEFAULT -------------------------------------*/

html {
  font-size: 16px;
  font-family: roboto, sans-serif;
  color: #fff;
}

.no-webp body {
  background-image: url(../img/bgi.jpg); }

body {
  margin: 0;
  font-size: 1rem;
  background-size: cover;
  background-repeat: repeat;
}

body section > :first-child {
  max-width: 1280px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

body section {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: 0;
  cursor: pointer;
}

*,
:before,
:after {
  box-sizing: border-box;
}

/* MODIFICATORS --------------------------------*/

.--white {
  color: #fff;
}

.--text {
  color: #fff;
  font-weight: 400;
  line-height: 1.6em;
}

.--subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
}

.--title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4em;
}

/* HEADER --------------------------------------*/

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 10px 80px;
  display: flex;
  width: 100%;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}

.header.lock {
  position: fixed;
  height: 100px;
  min-height: 0;
}

.header__logo {
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.header__nav {
  display: flex;
  margin-left: 17%;
}

.header__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

.header__nav.inactive {
  display: none;
}

.header__nav-link {
  font-weight: 400;
  margin: 5px 56px 5px 0px;
}

.header__nav-link:last-child {
  margin-right: 0 !important;
}

.header__nav-link:hover {
  transition: color 0.2s linear;
  color: rgba(255, 255, 255, 0.705);
}

.header__nav-link.menu {
  margin: 20px 0;
  font-size: 1.7rem;
}

.header__login {
  padding: 10px 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  text-align: center;
}

.header__login.menu {
  margin: 35px auto 0px auto;
  font-size: 1.7rem;
  width: 80%;
}

.header__menu-button {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 60px;
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 3px;
  z-index: 10;
}

.header__menu-button span {
  position: absolute;
  display: block;
  width: 40px;
  height: 4.5px;
  background: white;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.header__menu-button span:nth-child(1) {
  top: 11px;
}

.header__menu-button span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.header__menu-button span:nth-child(3) {
  bottom: 11px;
}

.header__menu-button.active {
  display: flex !important;
}

.header__menu-button.active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__menu-button.active span:nth-child(2) {
  display: none;
}

.header__menu-button.active span:nth-child(3) {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header__menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 100px 50px 20px 50px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.87);
  transition: left 0.3s ease 0s;
}

.header__menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100px;
  background: linear-gradient(94.78deg, #bb6e68 11.19%, #442666 93.72%);
  transition: left 0.3s ease 0s;
}

.header__menu.active {
  left: 0;
}

.header__menu.active::before {
  left: 0;
}

body.lock {
  overflow: hidden;
}

/* PAGE-TITLE ---------------------------------*/

.page-title {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 120px;
  min-height: 100vh;
}

.page-title__inner {
  margin-top: 150px;
}

.page-title__title {
  font-size: 4rem;
  max-width: 920px;
  transform: translate(0, 120%);
  opacity: 0;
  transition: transform 1s, opacity 2s;
}

.page-title__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.page-title__timer {
  display: flex;
  margin-top: 50px;
  padding-bottom: 140px;
}

.page-title__timer-block {
  text-align: center;
  padding: 20px 30px;
  width: 115px;
  height: 112px;
  background: #121212;
  transform: translate(0, 120%);
  opacity: 0;
  transition: transform 1s, opacity 2s;
}

.page-title__timer-block.active {
  transform: translate(0, 0);
  opacity: 1;
}

.page-title__timer-block:not(:last-child) {
  margin-right: 30px;
}

.page-title__timer-block p:first-child {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.4em;
}

.bgi__block {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bgi {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90% 0;
     object-position: 90% 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: opacity 2s;
}

.bgi.active {
  opacity: 1;
}

/* STATISTIC ------------------------------------*/

.statistic {
  margin-top: -120px;
  width: 100%;
  background-color: #121212;
}

.statistic__inner {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 130px;
  justify-content: space-between;
}

.statistic__btn {
  color: #fff;
  font-weight: 700;
  line-height: 1.5em;
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
}

.statistic__table tr {
  text-align: left;
}

.statistic__table tr th:last-child {
  padding-left: 30px;
  min-width: 80px;
}

.statistic__earned {
  width: 50%;
}

.statistic__chart {
  position: relative;
  height: 6px;
  width: 100%;
  background-color: #fff;
}

.statistic__chart span {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 60%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.statistic__lim {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statistic__lim p {
  margin-top: 5px;
}

/* ABOUT ---------------------------------------*/

.about__inner {
  display: flex;
  margin-top: 200px;
}

.about__img {
  width: 542px;
  margin-right: 135px;
  transform: translate(-120%, 0);
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 1s, opacity 2s;
  transform-origin: right center;
}

.about__img.active {
  transform: translate(0, 0);
  opacity: 1;
}

.about__text-block {
  transform: translate(120%, 0);
  opacity: 0;
  transition: transform 1s, opacity 2s;
  padding-top: 70px;
  transform-origin: left center;
}

.about__text-block.active {
  transform: translate(0, 0);
  opacity: 1;
}

.about__title {
  margin-bottom: 45px;
}

/* START --------------------------------*/

.start {
  margin-top: 200px;
}

.start__top {
  margin-bottom: 80px;
  transition: transform 1s, opacity 2s;
  transform: translate(-50%, 0);
}

.start__top.active {
  transform: translate(0, 0);
  opacity: 1;
}

.start__title-block {
  display: flex;
  align-items: center;
}

.start__loading {
  transform: rotate(180deg);
  transition: transform 2s;
}

.start__loading.active {
  transform: rotate(0deg);
}

.start__title {
  margin-left: 20px;
}

.start__subtitle {
  max-width: 411px;
  margin-top: 20px;
  transition: transform 1s, opacity 2s;
  transform: translate(-100%, 0);
  opacity: 0;
}

.start__subtitle.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.start__content {
  display: flex;
}

.start__content-block {
  flex: 1 1 24%;
  margin: 0 -1px;
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.start__content-block:nth-child(1) .start__chart span {
  height: 80px;
}

.start__content-block:nth-child(2) .start__chart span {
  height: 60px;
}

.start__content-block:nth-child(3) .start__chart span {
  height: 30px;
}

.start__content-block:nth-child(4) .start__chart span {
  height: 10px;
}

.start__content-block:nth-child(even) .start__chart span {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.start__content-block:nth-child(1) {
  transform: translate(-150%, 0);
}

.start__content-block:nth-child(2) {
  transform: translate(-120%, 0);
}

.start__content-block:nth-child(3) {
  transform: translate(120%, 0);
}

.start__content-block:nth-child(4) {
  transform: translate(150%, 0);
}

.start__content-block.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.start__percent {
  font-weight: 700;
  font-size: 2.25rem;
}

.start__chart {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 20px 0 35px 0;
}

.start__chart span {
  display: block;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  width: 100%;
}

.start__text {
  padding: 0 5px;
  font-size: 0.875rem !important;
  line-height: 1.6rem;
}

/* ADVANTAGES ----------------------------*/

.advantages {
  margin-top: 200px;
}

.advantages__inner {
  text-align: center;
}

.advantages__title {
  margin-bottom: 80px;
  transform: translate(-40%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.advantages__title.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.advantages__content {
  display: flex;
  flex-wrap: wrap;
}

.advantages__block {
  padding: 40px 42px;
  flex: 1 1 33.3333%;
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.advantages__block:first-child {
  transform: translate(-100%, 0);
}

.advantages__block:last-child {
  transform: translate(100%, 0);
}

.advantages__block.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.advantages__img {
  margin-bottom: 60px;
}

.advantages__subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  line-height: 1.4em;
}

.advantages__text {
  line-height: 1.6em;
}

/* PARTNERS -------------------------------*/

.partners {
  margin-top: 200px;
}

.partners__top-container {
  margin-bottom: 60px;
}

.partners__top {
  display: flex;
  align-items: center;
  transform: translate(-30%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.partners__top.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.partners__loading {
  transform: rotate(360deg);
  transition: transform 2s;
}

.partners__loading.active {
  transform: rotate(180deg);
}

.partners__title {
  margin-left: 20px;
}

.partners__table tr {
  display: flex;
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.partners__table tr:first-child {
  transform: translate(-50%, 0);
}

.partners__table tr:last-child {
  transform: translate(50%, 0);
}

.partners__table tr.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.partners__table tr th {
  box-sizing: content-box;
  display: inline-block;
  padding: 29px 66px;
}

.partners__table tr th:not(:last-child):not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.partners__table tr:not(:first-child) th {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* PROGRAM -------------------------------*/

.program {
  margin-top: 200px;
}

.program__top {
  margin-bottom: 80px;
}

.program__top-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translate(-30%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.program__top-inner.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.program__loading {
  height: 127px;
  width: 127px;
  margin: 0 auto;
  margin-bottom: 58px;
  transition: transform 2s;
  transform: rotate(180deg);
}

.program__loading.active {
  transform: rotate(360deg) !important;
}

.program__title {
  margin-bottom: 30px;
}

.program__content {
  display: flex;
  justify-content: center;
  min-height: 678px;
}

.program__content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program__text-block::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.program__content-left .program__text-block {
  position: relative;
  text-align: right;
  padding-right: 60px;
  transform: translate(-100%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.program__content-left .program__text-block:before {
  right: 0;
}

.program__content-left .program__text-block.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.program__content-middle {
  width: 6px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.program__content-right .program__text-block {
  position: relative;
  text-align: left;
  padding-left: 60px;
  transform: translate(100%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.program__content-right .program__text-block:before {
  left: 0;
}

.program__content-right .program__text-block.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.program__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.program__text-block {
  height: 95px;
  width: 288px;
}

.program__text-block p:nth-child(1) {
  font-size: 0.875rem;
  margin-bottom: 15px;
}

.program__text-block p:nth-child(2) {
  font-weight: 400;
  font-size: 1, 125;
  line-height: 1.6em;
}

/* TEACHERS -------------------------------*/

.teachers {
  padding-bottom: 275px;
  margin-top: 200px;
  box-sizing: content-box;
}

.teachers__top {
  margin-bottom: 110px;
}

.teachers__top-inner {
  display: flex;
  align-items: center;
  transform: translate(-30%, 0);
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.teachers__top-inner.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.teachers__loading {
  margin-right: 16px;
  transition: transform 2s;
}

.teachers__loading.active {
  transform: rotate(180deg) !important;
  opacity: 1;
}

.teachers__content {
  display: flex;
  justify-content: space-evenly;
}

.teachers__block {
  text-align: center;
  transition: transform 1s, opacity 2s;
  opacity: 0;
}

.teachers__block.active {
  transform: translate(0, 0) !important;
  opacity: 1;
}

.teachers__block:first-child {
  transform: translate(-100%, 0);
}

.teachers__block:last-child {
  transform: translate(100%, 0);
}

.teachers__name {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4em;
  margin-top: 40px;
}

.teachers__subtitle {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400;
}

.teachers__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
}

/* FOOTER -------------------------------*/

.footer {
  padding-bottom: 20px;
  transition: opacity 2s;
  opacity: 0;
}

.footer.active {
  opacity: 1;
}

.footer__inner {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__subtitle {
  margin-top: 30px;
  max-width: 411px;
  text-align: center;
}

.footer__form {
  margin-top: 60px;
  position: relative;
  width: 90%;
  height: 45px;
}

.footer__input {
  width: 99%;
  height: 100%;
  padding: 11px 30px;
  border: 0;
  outline: none;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.25);
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
}

.footer__input::-moz-placeholder {
  color: #fff;
}

.footer__input:-ms-input-placeholder {
  color: #fff;
}

.footer__input::placeholder {
  color: #fff;
}

.footer__btn-sumbit {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  padding: 0 30px;
  height: 100%;
  border-radius: 50px;
  border: 0;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  cursor: pointer;
}

.footer__social {
  margin-top: 40px;
  display: flex;
}

.footer__social-link {
  box-sizing: content-box;
  display: flex;
  padding: 11px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50%;
}

.footer__social-link:not(:last-child) {
  margin-right: 30px;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 1370px) {
  .header__nav {
    margin-left: 10%;
  }
}

@media (max-width: 1250px) {
  .header__nav-link {
    margin-right: 35px;
  }
}

@media (max-width: 1130px) {
  .header__nav {
    margin-left: 5%;
  }
}

@media (max-width: 1080px) {
  .about__text-block {
    padding-top: 0px;
  }
}

@media (max-width: 1050px) {
  .header__nav::before {
    display: none;
  }

  .page-title__timer-block {
    background: #313131;
  }

  .bgi.active {
    opacity: 0.5;
  }
}

@media (max-width: 1040px) {
  .header__logo {
    height: 60px;
    width: 60px;
  }

  .header__nav {
    margin-left: 10%;
    flex-wrap: wrap;
  }
}

@media (max-width: 1030px) {
  .header__nav-link {
    font-size: 1.4rem;
  }

  .header__login {
    font-size: 1.4rem;
  }
}

@media (max-width: 1020px) {
  .about__img {
    margin-right: 50px;
  }
}

@media (max-width: 1000px) {
  .header {
    height: 100px !important;
    min-height: 0;
  }

  .page-title {
    padding-top: 80px;
  }
}

@media (max-width: 960px) {
  .statistic__inner {
    flex-wrap: wrap;
  }

  .statistic__earned {
    flex: 1 1 100%;
  }
}

@media (max-width: 935px) {
  .about__img {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .header__nav {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__login.menu {
    display: inline-block;
  }

  .header__menu-button {
    display: flex;
  }

  .about__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .about__img {
    display: none;
  }

  .about__text-block {
    transform: translate(-50%, 0);
  }
}

@media (max-width: 720px) {
  .header__nav {
    margin-left: 10%;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: space-between;
    padding: 20px 30px;
  }

  .page-title__timer {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-title__timer-block {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 585px) {
  .page-title__title {
    font-size: 3rem;
  }
}

@media (max-width: 545px) {
  .page-title__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 520px) {
  .page-title__inner {
    margin-top: 50px;
  }
}

@media (max-width: 470px) {
  .statistic__inner > * {
    margin-top: 20px;
  }

  .statistic__inner > *:last-child {
    margin-bottom: 20px;
  }

  .statistic__btn {
    margin: 20px auto 0 auto;
    flex: 1 1 100%;
  }
}

@media (max-width: 420px) {
  .page-title__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 384px) {
  .page-title__timer {
    justify-content: center;
  }

  .page-title__timer-block:nth-child(odd) {
    margin-right: 20px !important;
  }
}

@media (max-width: 365px) {
  .page-title__title {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  .about__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 325px) {
  .statistic__earned table tr th:last-child {
    padding-left: 5px;
  }
}

@media (max-width: 300px) {
  .header__login {
    margin: 35px 0 0 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 290px) {
  .page-title__timer-block {
    height: 100px;
    width: 100px;
    padding: 20px 0;
  }
}

@media (max-width: 259px) {
  .page-title__timer-block:nth-child(odd) {
    margin-right: 0px !important;
  }
}

.webp body { background-image: url(../img/bgi.webp); }